@model WebApplicationPasswordProtected.ViewModels.FilelViewModel

@{
    ViewData["Title"] = "New";
}

<h1>Create</h1>

<h4>File</h4>
<hr />

<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New File</h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="New">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label"> Task Description</label>
                            @Html.DropDownListFor(x => x.TaskID, new SelectList(ViewBag.TaskId, "Id", "Summary"), new { @class = "form-control" })
                            <span asp-validation-for="TaskID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Descricao" class="control-label"></label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AttachmentName" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="AttachmentName" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="AttachmentName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}





